.navbar {
  opacity: 0.7;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-variant: normal;
  font-weight: 100;
  line-height: 40px;
}



.navbar-nav {
  width: 100%;
  text-align: center;
  vertical-align: top;
}

.navbar-nav li {
  float: none;
  display: inline-block;
}

.navbar-collapse {
  text-align: center;
}

.hvr-underline-reveal {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  overflow: hidden;
}
.hvr-underline-reveal:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 0;
  bottom: 0;
  background: #808080;
  height: 3.5px;
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-reveal:hover:before, .hvr-underline-reveal:focus:before, .hvr-underline-reveal:active:before {
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

/* Fade */
.hvr-fade {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  overflow: hidden;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
}
.hvr-fade:hover, .hvr-fade:focus, .hvr-fade:active {
  background-color: darkgrey;
  color: white;
  opacity: 1;
}


/* For every section */
 .block {
  position: relative;
  min-height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  transform-style: inherit;
  /*background-color: #fff;
  height: 500px;
  width: 100%;
  top: 0px;
  margin: 0;
  padding-top: 60px;
  z-index: -2;
  margin-bottom: 20px;
  position: relative;
  box-sizing: border-box;*/
 }



/* Header Section */

 #overlay1 {
  background: grey;
  position: absolute;
  opacity: 0.7;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

 #header-background{
  background-image: url(img/nyc.jpg);
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  position: fixed;
  min-height: 100vh;
  width: 100vw;
  top: 0;
  z-index: -1;
 }

.title {
  position:absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
}

.title h1{
  padding-top: 2em;
  text-align: center;
  color: white;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 6em;
  font-style: normal;
  font-variant: normal;
  font-weight: 100;
  line-height: 1.5em;
}

.title p{
  text-align: center;
  color: white;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 2.3em;
  font-style: normal;
  font-variant: normal;
  font-weight: 100;
  line-height: 1em;
}

.social-media-icons{
  padding: 2%;
  height: 20%;
  font-weight: 100;
  text-align: center;
}

a {
  color: white;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

.fadeInUp {
  animation-name: fadeInUp;
  animation-duration: 1s;
}

/* about section */

#overlay2 {
  background: grey;
  position: absolute;
  opacity: 0.85;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
#about-background{
  background-image: url(img/background.jpg);
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  position: absolute;
  min-height: 100vh;
  width: 100vw;
  z-index: 0;
}


#about-header{
  color: #FFF;
  padding-top:1.8em;
  padding-bottom: 0.7em;
  text-align: center;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 3em;
  font-style: normal;
  font-variant: normal;
  font-weight: 100;
  text-align: center;
  line-height: 35px;
  border-bottom: 1px solid #e6e6e6;
}

#about-first-p{
  padding-top: 1.3em;
}

.about{
  color: #FFF;
  text-align: center;
  padding: 0.5em 15em 0em 15em;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.45em;
  font-style: normal;
  font-variant: normal;
  font-weight: 100;
  text-align: center;
  line-height: 35px;
}

#resume{
  padding: 2.3em 13em 0em 13em;
}

#resume a{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-variant: normal;
  font-weight: 100;
}

.download {
  color: #fff;
  background-color: transparent;
  padding: 0.65em 0.9em 0.65em 0.9em;
  border-color: #fff;
  border-radius: 0px;
}

.download:hover, .download:focus, .download.focus, .download:active, .download.active {
  color: #fff;
  background-color: #121d1f;
  border-color: #121d1f;
}

.fa-arrow-circle-o-right{
  padding-right: 0.5em;
}

/* skills */
#overlay3 {
  background: grey;
  position: absolute;
  opacity: 0.85;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
#skills-background{
  background-image: url(img/skills.jpg);
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  position: absolute;
  min-height: 100vh;
  width: 100vw;
  top: 0;
  z-index: 0;
}

#skills-header{
  color: #FFF;
  padding-top: 1.8em;
  padding-bottom: 0.7em;
  text-align: center;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 3em;
  font-style: normal;
  font-variant: normal;
  font-weight: 100;
  text-align: center;
  line-height: 35px;
  border-bottom: 1px solid #e6e6e6;
}


.skills-intro{
  color: #FFF;
  text-align: center;
  padding: 0.5em 0.6em 1em 0em;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.3em;
  font-style: normal;
  font-variant: normal;
  font-weight: 100;
  line-height: 20px;
}

#list-skills{
  padding: 1em;
}

.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

.hashtag{
  text-transform: uppercase;
  font-weight: 100;
  width: auto;
  display: inline-block;
  font-size: 1em;
  line-height: 1.2em;
  padding: 1em 1em 1.5em 1em;
  color:#FFF;
  text-align: center;
}

.hashtag i{
  font-size: 5em;
  text-align: center;
}


.icon-adjust{
  position: relative;
  left:0.1em;
}

.icon-adjust2{
  position: relative;
  left:0.2em;
}

.icon-adjust3{
  position: relative;
  bottom: 0.2em;
}


/* projects section */

 #overlay4 {
  background: grey;
  position: absolute;
  opacity: 0.7;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

#projects-background{
  background-image: url(img/backgroun2.jpg);
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  position: absolute;
  min-height: 100vh;
  width: 100vw;
  top: 0;
  z-index: 0;
}

#projects-header{
  color: #FFF;
  padding-top: 1.8em;
  padding-bottom: 0.7em;
  text-align: center;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 3em;
  font-style: normal;
  font-variant: normal;
  font-weight: 100;
  text-align: center;
  line-height: 35px;
  border-bottom: 1px solid #e6e6e6;
}

.img{
  width: 100%;
  height: 100%;
}

.portfolio-item {
  margin-top: 5em;
  margin-bottom:2.5em;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
.portfolio-item:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}
.portfolio-item .hover-bg {
  height: 220px;
  overflow: hidden;
  position: relative;
}
.hover-bg .hover-text {
  position: absolute;
  text-align: center;
  margin: 0 auto;
  color: #ffffff;
  background: rgba(0, 0, 0, 0.66);
  padding: 33% 0 0 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: all 0.5s;
}
.hover-bg .hover-text>h4 {
  opacity: 0;
  color: #fff;
  font-weight: 100;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
  transition: all 0.3s;
}

.hover-text small{
  font-weight: 100;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.hover-bg:hover .hover-text>h4 {
  opacity: 1;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}
.hover-bg .hover-text>i {
  opacity: 0;
  -webkit-transform: translateY(0);
  transform: translateY(0);
  transition: all 0.3s;
}
.hover-bg:hover .hover-text>i {
  opacity: 1;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
}
.hover-bg:hover .hover-text {
  opacity: 1;
}

.project-social-media-icons{
  text-align: center;
}

.project-social-media-icons i{
  font-weight: 100;
  font-size: 2em;
}



/* contact */
#contact {
  color: #121d1f;
  background: #8B8B8B;
}

#contact-header{
  color: #FFF;
  padding-top: 1.8em;
  padding-bottom: 0.7em;
  text-align: center;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 3em;
  font-style: normal;
  font-variant: normal;
  font-weight: 100;
  text-align: center;
  line-height: 35px;
  border-bottom: 1px solid #e6e6e6;
}

#contact-info{
  padding-top: 2.5em;
}

#contact-info p{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.2em;
  font-style: normal;
  font-variant: normal;
  font-weight: 100;
  color: #FFF;
}

#contact h3 {
  padding-top: 0.3em;
  color: #fff;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.8em;
  font-style: normal;
  font-variant: normal;
  font-weight: 100;
}
#contact form {
  padding: 30px 0;
}
#contact i.fa {
  color: #FFF;
  margin-bottom: 10px;
  font-size: 1.8em;
}
#contact .text-danger {
  color: #E87E04;
  text-align: left;
}
label {
  font-size: 12px;
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;
  float: left;
}
#contact .form-control {
  display: block;
  width: 100%;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #2c3e50;
  background-color: rgba(255,255,255,0.8);
  background-image: none;
  border: 0;
  border-radius: 2px;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
}
#contact .form-control:focus {
  border-color: inherit;
  outline: 0;
  -webkit-box-shadow: transparent;
  box-shadow: transparent;
}
.form-control::-webkit-input-placeholder {
color: #2c3e50;
}
.form-control:-moz-placeholder {
color: #2c3e50;
}
.form-control::-moz-placeholder {
color: #2c3e50;
}
.form-control:-ms-input-placeholder {
color: #2c3e50;
}
#contact .social {
  margin-top: 60px;
}
#contact .social ul li {
  display: inline-block;
  margin: 0 20px;
}
#contact .social i.fa {
  font-size: 30px;
  padding: 4px 5px;
  color: #fff;
  transition: all 0.5s;
}
#contact .social i.fa:hover {
  color: #121d1f;
}


#contact .send {
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 0;
  padding: 10px 20px;
  color: white;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 200;
  margin-top: 15px;
}
#contact .send:hover, #contact .send:focus {
  background-color: #121d1f;
  color: white;
  border: 1px solid #121d1f;
}
.send:active, .send.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
a:focus, .send:focus, .send:active:focus, .send.active:focus, .send.focus, .send:active.focus, .send.active.focus {
  outline: none;
  outline-offset: none;
}


/* Footer Section*/
#footer {
  background: #121d1f;
  color: #7d8384;
  padding: 30px 0 25px 0;
}
#footer p {
  font-size: 13px;
}
#footer a {
  color: #a0a5a5;
}
#footer a:hover {
  color: #7bc3d1;
}


