.navbar {
  opacity: 0.7;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-variant: normal;
  font-weight: 100;
  line-height: 40px;
}



.navbar-nav {
  width: 100%;
  text-align: center;
  vertical-align: top;
}

.navbar-nav li {
  float: none;
  display: inline-block;
}

.navbar-collapse {
  text-align: center;
}

.hvr-underline-reveal {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  overflow: hidden;
}
.hvr-underline-reveal:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 0;
  bottom: 0;
  background: #808080;
  height: 3.5px;
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-reveal:hover:before, .hvr-underline-reveal:focus:before, .hvr-underline-reveal:active:before {
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

/* For every section */
 .block {
  position: relative;
  min-height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  transform-style: inherit;
  /*background-color: #fff;
  height: 500px;
  width: 100%;
  top: 0px;
  margin: 0;
  padding-top: 60px;
  z-index: -2;
  margin-bottom: 20px;
  position: relative;
  box-sizing: border-box;*/
 }



/* Header Section */

 #overlay1 {
  background: grey;
  position: absolute;
  opacity: 0.7;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

 #header-background{
  background-image: url(img/nyc.jpg);
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  position: fixed;
  min-height: 100vh;
  width: 100vw;
  top: 0;
  z-index: -1;
 }

.title {
  position:absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
}

.title h1{
  padding-top: 2em;
  text-align: center;
  color: white;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 6em;
  font-style: normal;
  font-variant: normal;
  font-weight: 100;
  line-height: 1.5em;
}

.title p{
  text-align: center;
  color: white;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 2.3em;
  font-style: normal;
  font-variant: normal;
  font-weight: 100;
  line-height: 1em;
}

.social-media-icons{
  padding: 2%;
  height: 20%;
  font-weight: 100;
  text-align: center;
}

a {
  color: white;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

.fadeInUp {
  animation-name: fadeInUp;
  animation-duration: 1s;
}

/* about section */

#overlay2 {
  background: grey;
  position: absolute;
  opacity: 0.85;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
#about-background{
  background-image: url(img/background.jpg);
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  position: absolute;
  min-height: 100vh;
  width: 100vw;
  z-index: 0;
}


#about-header{
  color: #FFF;
  padding-top:1.8em;
  padding-bottom: 0.7em;
  text-align: center;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 3em;
  font-style: normal;
  font-variant: normal;
  font-weight: 100;
  text-align: center;
  line-height: 35px;
  border-bottom: 1px solid #e6e6e6;
}

.about{
  color: #FFF;
  text-align: center;
  padding: 0.5em 13em 0em 13em;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.6em;
  font-style: normal;
  font-variant: normal;
  font-weight: 100;
  text-align: center;
  line-height: 35px;
}




/* skills */
#overlay3 {
  background: grey;
  position: absolute;
  opacity: 0.7;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
#skills-background{
  background-image: url(img/skills.jpg);
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  position: absolute;
  min-height: 100vh;
  width: 100vw;
  top: 0;
  z-index: 0;
}

#skills-header{
  color: #FFF;
  padding-top: 1.8em;
  padding-bottom: 0.7em;
  text-align: center;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 3em;
  font-style: normal;
  font-variant: normal;
  font-weight: 100;
  text-align: center;
  line-height: 35px;
  border-bottom: 1px solid #e6e6e6;
}

#list-skills{

}

.level-header{
  color: #FFF;
  text-align: center;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 2.5em;
  font-style: normal;
  font-variant: normal;
  font-weight: 100;
  text-align: center;
  line-height: 40px;
}

#proficient{
  padding-top: 1.5em;
  padding-left: 3em;
}

.skills-technologies{
  width: 25em;
}

.skills-technologies li{
  color: #FFF;
  text-align: center;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.5em;
  font-style: normal;
  font-variant: normal;
  font-weight: 100;
  line-height: 33px;
  float: left;
  width: 50%;
}

/* projects section */

 #overlay4 {
  background: #FFF;
  position: absolute;
  opacity: 0.7;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

#projects-background{
  background-image: url(img/backgroun2.jpg);
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  position: absolute;
  min-height: 100vh;
  width: 100vw;
  top: 0;
  z-index: 0;
}

